.boton1 {
  height: 10px;
  width: 30px;
  background-color: pink; }

.boton2 {
  height: 20px;
  width: 40px;
  background-color: violet; }

body {
  height: 1700px; }

header {
  padding: 20px 0px 0px 10px;
  background-image: linear-gradient(#da8fc3, #a34aa3);
  border-bottom: black double; }
  header h1 {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 80px;
    color: #421642; }
  header #logo {
    border-style: double;
    bottom: 50px;
    display: block;
    margin: 0px auto;
    position: relative;
    bottom: 1rem; }

main {
  height: 1200px;
  width: 100%;
  background-image: linear-gradient(#fcf9fb, #ebdbeb); }
  main section {
    height: 680px; }
    main section p {
      font-size: 30px;
      color: #421642;
      font-family: 'Balthazar', serif;
      text-align: center;
      margin: 100px 50px 100px 50px; }

nav {
  position: sticky;
  top: 0%; }
  nav li {
    text-align: center;
    width: 16%;
    border-right: 3px solid #8f4e8f; }
    nav li a {
      font-family: fantasy;
      color: #421642;
      font-size: 20px; }

#menu ul {
  list-style-type: none;
  background-color: plum;
  display: flex;
  align-items: center;
  height: 60px; }

footer {
  border: 1px solid black;
  background-image: linear-gradient(#e7cbcf, #aa83aa);
  width: 100%;
  height: 15%;
  font-family: fantasy;
  font-size: 17px;
  color: #421642; }

#cajaGrid {
  display: grid;
  grid-template-columns: 24,5% 24,5% 24,5% 24,5%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "datos datos datos datos" "datos2 datos2 datos3 datos3";
  column-gap: 2px;
  row-gap: 2px;
  align-items: center;
  text-align: center;
  margin: 15px; }
  #cajaGrid .datos, #cajaGrid .formulario .form .datos2, .formulario .form #cajaGrid .datos2 {
    grid-area: datos; }
  #cajaGrid .datos2 {
    grid-area: datos2; }
  #cajaGrid .datos3 {
    grid-area: datos3; }

#carrousel {
  border-top: black double;
  border-bottom: black double;
  height: 680px;
  width: 100%; }

#cajaImagen {
  background-image: linear-gradient(#fcf9fb, #ebdbeb);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  border-top: double black;
  border-bottom: double black; }
  #cajaImagen .boximg {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em; }
    #cajaImagen .boximg .foto {
      border: 1px solid black; }

.foto:hover {
  transform: scale(2, 2);
  transition: all 1s; }

.formulario {
  background-image: linear-gradient(#fcf9fb, #ebdbeb);
  display: grid;
  position: relative;
  top: 100px; }
  .formulario .form {
    text-align: center;
    font-family: fantasy;
    color: #421642; }
    .formulario .form legend {
      font-family: "Luckiest Guy", cursive;
      font-size: 40px; }
    .formulario .form .datos, .formulario .form .datos2 {
      font-family: "Luckiest Guy", cursive;
      font-size: 20px; }
    .formulario .form .escribe, .formulario .form .escribe2 {
      font-family: "Luckiest Guy", cursive;
      font-size: 20px; }
