$colorFondo:linear-gradient( rgb(218, 143, 195), rgb(163, 74, 163));   
$colorTitulo: rgb(66, 22, 66);
$tipografiaTitulos: 'Luckiest Guy', cursive;
$tipografia: fantasy; 
$colorMain: linear-gradient( rgb(252, 249, 251), rgb(235, 219, 235));
